body {
	margin-top: 0px;
	margin-bottom: 0px;
	margin-right: 0px;
	margin-left: 0px;
	text-align:center;
}

#toxic_container {
	background-color: lightblue;
	width: 750px;
	height: 750px;
	margin: 0 auto; /* align : center*/
}

#prvilevi {
	position:relative;
    width:30%;
    height:35%;
    background-color:blue;
}

#drugilevi {
	position:relative;
    width:30%;
    height:35%;
    background-color:red;
}

#prvidesno {
	position:relative;
    width:70%;
    height:70%;
    background-color:yellow;
    display:inline-block;
    float:left;
    top:-70%;
    left:30%;
}

#spodajlevo {
	position:relative;
    width:30%;
    height:30%;
    background-color:green;
}

#spodajdesno {
	position:relative;
    width:70%;
    height:30%;
    background-color:purple;
    display:inline-block;
    float:left;
    top:-70%;
    left:30%;
}